.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.navbar-brand {
  color:rgb(44, 6, 98);
  text-transform: uppercase;
}

.nav-link {
  color: rgb(126, 34, 0);
}